pypdf
langchain
langgraph>=1.1
langgraph-checkpoint-mysql[pymysql,aiomysql,asyncmy]==3.0.0
langchain-openai
langchain-groq
python-dotenv
linkedin-api
streamlit
langsmith
streamlit_chat
streamlit_pills
langchain_community
firecrawl-py
pymupdf
streamlit-analytics2
python-docx
asgiref
